<?xml version="1.0" encoding="utf-8"?>
<manifest	xmlns:android="http://schemas.android.com/apk/res/android"
      		android:installLocation="auto" 
      		android:versionName="1.3.6" 
      		android:versionCode="1306" 
      		package="com.funkyandroid.banking.android.expenses.adfree">
      
	<uses-sdk 			android:minSdkVersion="4"
						android:targetSdkVersion="8" />
	<supports-screens 	android:largeScreens="true"
						android:normalScreens="true"
						android:smallScreens="true"
						android:anyDensity="true"/>

    <application	android:icon="@drawable/ic_launcher_main" 
    				android:label="@string/app_name"
    				android:debuggable="false"
    				android:backupAgent="MyBackupAgent">
        <activity android:name=".Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.funkyandroid.banking.android.AccountsActivity"/>
        <activity android:name="com.funkyandroid.banking.android.BackupActivity"/>
        <activity android:name="com.funkyandroid.banking.android.EntriesActivity"/>
        <activity android:name="com.funkyandroid.banking.android.EditAccountActivity"/>
        <activity android:name="com.funkyandroid.banking.android.EditEntryActivity"/>
        <activity android:name="com.funkyandroid.banking.android.ExternalEntryActivity">
            <intent-filter>
                <action android:name="com.funkyandroid.action.NEW_TRANSACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.funkyandroid.banking.android.RestoreActivity"/>
        <activity android:name="com.funkyandroid.banking.android.SpendingReportActivity"/>
        
        <meta-data	android:value="a14a223253a67f4" android:name="ADMOB_PUBLISHER_ID" />        
        
		<meta-data	android:name="com.google.android.backup.api_key"
		    		android:value="AEdPqrEAAAAIIkNMdF2Mpv4vZvdHpaBcR03e-iLdK-tN07keXg" />
    </application>

	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />


	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />                            
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
	<uses-feature android:name="android.hardware.sensor.compass" android:required="false" />
	<uses-feature android:name="android.hardware.sensor.light" android:required="false" />
	<uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />
	<uses-feature android:name="android.hardware.microphone" android:required="false" />
	<uses-feature android:name="android.hardware.telephony" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.hardware.wifi" android:required="false" />
	
	<uses-feature android:name="android.software.live_wallpaper" android:required="false" />
</manifest> 